body
{
	margin:0px;
	font: normal 13px arial,helvetica,sans-serif;
	line-height:1.6em;
	color:#000;
	text-align:justify;
}

a:link
{
	font-weight:normal;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}

a:active
{
	font-weight:normal;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}

a:visited
{
	font-weight:normal;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
}

a:hover
{
	font-weight:normal;
	font-size:13px;
	color:#359AC8;

	text-decoration:none;
}

h2 {
	font-size:18px;
	color:#555555;
	background: -moz-linear-gradient(center top , #C6D898 13px, #E8F0D6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6D898), to(#E8F0D6)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #C6D898, #E8F0D6); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #C6D898, #E8F0D6); /* IE 10 */ background: -ms-linear-gradient(top, #C6D898, #E8F0D6); /* Opera 11.10+ */ background: -o-linear-gradient(top, #C6D898, #E8F0D6);
	/*background: url(../image/bkgd-header-orange.png) repeat-x scroll left top rgba(0, 0, 0, 0);*/
    border-top: 1px solid #DDDDDD;
	margin: 0;
	font-weight:normal;
	margin-top:25px;
	text-align:center;
}

.header-wrapper {
	height:119px;
	background-color:#000000;
	border-bottom: 5px solid #8DB232;
}

#header_contact {
	height: 25px;
	float: left;
	padding-left: 50px;
	font-family: cursive, Helvetica, sans-serif;
	color: #FFF100;
	font-weight: normal;
	font-size: 28px;
	padding-top: 30px;
	padding-bottom: 26px;
}

#site-title {
	position:absolute;
	top:55px;
	font-weight:normal;
	font-size:3.4em;
	color:#FFFFFF;
	font-family:"Comic Sans MS", cursive;
}

/** menu css start **/
.upmenu {
	font-size:20px;
	padding: 0 12px;
	line-height:15px;
	background-color: #8DB232;
}

.upmenu ul {
	margin:0; padding:0;
}

.upmenu li{
	font-size:20px;
	float: left;
	list-style: none;
	padding: 10px 2px;
	background-color: #8DB232;
}

.upmenu a, .upmenu a:visited {
	color: #fff;
	padding: 12px 15px;
}
.upmenu li:hover, .upmenu li.active {
	background-color:#5A7A0A;
}
/** menu css end **/

/** footer css start **/

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	/*margin: 0 auto -150px;*/
}

/* Set the fixed height of the footer here */
#footer {
	height: 150px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#footer {
	background-color:#000;
	border-top: 5px solid #8DB232;
}


.footer_links {
	font-size:18px;
	color:#99999B;
	line-height:1.7em;
}

ul.home-footer  {
	list-style-type: none;
	margin: 0;
}
ul.home-footer a {
color: #9B999A;
text-decoration: none;
}
ul.home-footer a:hover {
	padding-left:20px;
	color: #9B999A;
}

.footer{
	background-color:#000;
	text-align:center;
	color:#FFF;
}

.slogan a {
	font-family: "Comic Sans MS",cursive;
	font-size: 37px;
}
.slogan a:hover{
	color:#FF0;
}
/** footer css end **/


#section-content {
	padding-top: 20px;
}

/** homepage css start **/



#car-search-tabs.ui-tabs .ui-tabs-nav li a {
	background: -moz-linear-gradient(center top , #C6D898 13px, #E8F0D6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6D898), to(#E8F0D6)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #C6D898, #E8F0D6); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #C6D898, #E8F0D6); /* IE 10 */ background: -ms-linear-gradient(top, #C6D898, #E8F0D6); /* Opera 11.10+ */ background: -o-linear-gradient(top, #C6D898, #E8F0D6);
}

#car-search-tabs.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: 0.7em 2em;
	text-decoration: none;
}
#car-search-tabs.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 1px;
	padding: 2em 1.4em;
	background: none;
	background: -moz-linear-gradient(center top , #FFFFFF 20px, #D9D9D9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D9D9D9)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #FFFFFF, #D9D9D9); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #FFFFFF, #D9D9D9); /* IE 10 */ background: -ms-linear-gradient(top, #FFFFFF, #D9D9D9); /* Opera 11.10+ */ background: -o-linear-gradient(top, #FFFFFF, #D9D9D9);

}
.welcome {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	line-height: 1px;
}

#car-search-tabs.ui-widget-content {
	border-top: none;
	background: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	border-right:0px;
	min-height: 320px;
	border-left:0px;
}

#car-search-tabs .ui-widget-header {
	border: none;
	
	padding: 0;
	background: -moz-linear-gradient(center top , #FFFFFF 20px, #D9D9D9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D9D9D9)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #FFFFFF, #D9D9D9); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #FFFFFF, #D9D9D9); /* IE 10 */ background: -ms-linear-gradient(top, #FFFFFF, #D9D9D9); /* Opera 11.10+ */ background: -o-linear-gradient(top, #FFFFFF, #D9D9D9);
}

.field {
	margin-bottom: 15px;
}
/** homepage css end **/

/** listing page css start **/

/** listing page css end **/

.feedback-info-text a {
	color: #8DB232;
	font-weight: bold;
}
.ui-tabs .ui-tabs-panel{
    background: -moz-linear-gradient(center top , #FFFFFF 20px, #D9D9D9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D9D9D9)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #FFFFFF, #D9D9D9); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #FFFFFF, #D9D9D9); /* IE 10 */ background: -ms-linear-gradient(top, #FFFFFF, #D9D9D9); /* Opera 11.10+ */ background: -o-linear-gradient(top, #FFFFFF, #D9D9D9);
    
}

.innerContent{
	padding: 9px;
	border-left-color:#999;
	border-right-color:#999;
	margine:0 15px;

}
.li{
	background: url(../img/1382622861_43221.ico) repeat-x scroll left top rgba(0, 0, 0, 0);
}

.slidebtn
{
	text-align:center;
}
.btn-success
{margin-top:15px;
}